* {
  margin: 0px;
  padding: 0px;
}
html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media only screen and (max-width: 768px) {
  #container{
    width: 100%;
    display: block !important;
  }
  .container{
    width: 100% !important;
  }
  .form{
    width: 100% !important;
  }
  body{
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {
  #container{
    width: 100%;
    display: block !important;
  }
  .container{
    width: 100% !important;
  }
  .form{
    width: 100% !important;
  }
  p, .caption, ul{
    font-size: 10px !important;
  }
  h2,h5{
    font-size: 15px;
  }
}
.nav_items {
  justify-content: end;
  font-size: 1.1rem;
}

.nav_logo {
  font-size: 25px;
  font-weight: 500;
  color: #edaa38 !important;
}
.my_navbar {
  background-color: transparent;
  padding: 30px 100px;
}

.page_header {
  text-align: left;
  padding-bottom: 0px;
  padding-top: 30px;
}
.caption{
  font-size: 1.3rem;
  padding-bottom: 5px;
}
.footer {
  background-color: rgb(87, 105, 126);
}
.Copyright {
  background-color: rgb(87, 105, 126);
}

.ctn {
  padding: 10px;
}

.btn {
  background-color: #edaa38;
  border-color: #ed9c38;
}

.card-body {
  text-align: center;
}
#container{
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.container {
  position: relative;
  width: 50%;
  margin-left: 0px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-top: 10px;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.carousel-indicator img{
  height: 50px;
  width: 70px;
}
.carousel-item{
  margin-bottom: 30px;
}
.caption{
  color: #edaa38;
}
.property-info{
  display: flex;
  justify-content: space-between;
}
.price{
  margin-top: 40px;
}
.form{
  background-color: whitesmoke;
  width: 40%;
}
.form button{
  background-color: #ed9c38;
  font-size: 1.2rem;
  margin-top: 20px;
  height: 40px;
  border: none;
  color: white;
  width: 80%;
  margin-left: 10%;
}
.form input, textarea{
  border: none;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}
.form a{
  margin-top: 20px;
  margin-left: 40%;
}
section{
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}
.detail{
  display: flex;
  gap: 20%;

}
.detail ul{
  list-style: none;
  padding-left: 0px;
}
h6{
  text-align: left; 
  color: #edaa38;
}