<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overseas dream property</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="static/css/ContactUs.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light my_navbar">
    <div class="container-fluid">
      <a class="navbar-brand nav_logo" href="/"><img src="static/images/Logo2.png" alt=""></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav_items" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="CheapHomes">Cheap Homes</a>
          <a class="nav-link" href="DreamHomes">Dream Mansions</a>
          <a class="nav-link" href="#">About Us</a>
          <a class="nav-link active" href="ContactUs">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 class="page_header">Contact Us</h1>
    <hr>
  </div>

  {% load widget_tweaks %}
  <form method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
          <div class="col-5">
              <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">First Name</label>
                  {% render_field form.FirstName class="form-control" id="formGroupExampleInput" placeholder="" type="text" %}
                  <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder=""> -->
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Last Name</label>
                {% render_field form.LastName class="form-control" id="formGroupExampleInput" placeholder="" type="text" %}
                <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder=""> -->
            </div>
              <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Your Email</label>
                  {% render_field form.Email class="form-control" id="formGroupExampleInput2" placeholder="" type="email" %}
                  <!-- <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""> -->
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Mobile No</label>
                {% render_field form.Mobile_No class="form-control" id="formGroupExampleInput2" placeholder="" type="text" %}
                <!-- <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""> -->
              </div>
              <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Subject</label>
                  {% render_field form.Subject class="form-control" id="formGroupExampleInput2" placeholder="" type="text" %}
                  <!-- <input type="text" class="form-control" id="formGroupExampleInput2" placeholder=""> -->
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Your message (optional)</label>
                  {% render_field form.Message class="form-control" id="exampleFormControlTextarea1" placeholder="" type="textarea" %}
                  <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea> -->
              </div>
              <input type="submit" class="btn btn-primary submit" value="Submit">
          </div>
      </div>
    </div>
  </form>



  

<!-- Remove the container if you want to extend the Footer to full width. -->

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="p-4 pb-0 footer">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" placeholder="example@gmail.com" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 Copyright">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>