{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overseas dream property</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
  <link rel="icon" href="{% static 'images/logo2.png' %}" sizes="32x32">
  <link rel="stylesheet" href="{% static 'css/property copy.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light my_navbar">
    <div class="container-fluid">
      <a class="navbar-brand nav_logo" href="/"><img src="{% static 'images/Logo2.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav_items" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="https://overseasdreamhome.onrender.com/CheapHomes">Cheap Homes</a>
          <a class="nav-link" href="https://overseasdreamhome.onrender.com/DreamHomes">Dream Mansions</a>
          <a class="nav-link" href="https://overseasdreamhome.onrender.com/AboutUs">About Us</a>
          <a class="nav-link" href="https://overseasdreamhome.onrender.com/ContactUs">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="property-info">
          <div class="name">
            <h2 class="page_header">{{ mansion.Title }}</h2>
        <p class="caption">{{ mansion.Location }}</p>
          </div>
          <div class="price">
            <h5>  {{ mansion.PoundsPrice }}</h5>
            <p> [ {{ mansion.EurosPrice }} ]</p>
          </div>
        </div>
                <!-- Swiper -->
  
  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
    <div class="swiper-wrapper">
      {% for image in images %}
      <div class="swiper-slide">
        <img src="{{ image.ImageUrl }}" />
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for image in images %}
      <div class="swiper-slide">
        <img src="{{ image.ImageUrl }}" />
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Swiper end -->
      </div>
      {% load widget_tweaks %}
      <form method="POST" class="col-5">
        {% csrf_token %}
        <div >
          <div class="form">
            <button type="submit">Make An Enquiry</button>
            {% render_field form.FirstName placeholder="First-name" type="text" %}
            <!-- <input type="text" placeholder="First-name" required> -->
            {% render_field form.LastName placeholder="Last-name" type="text" %}
            <!-- <input type="text" placeholder="Last-name" required> -->
            {% render_field form.Mobile_No placeholder="Telephone" type="text" %}
            <!-- <input type="tel" placeholder="Telephone" required> -->
            {% render_field form.Email placeholder="Email" type="text" %}
            {% render_field form.Subject placeholder="Subject" type="text" %}
            <!-- <input type="email" placeholder="Email" required> -->
            {% render_field form.Message id="w3review" name="w3review" rows="10" cols="50" placeholder="Type your message:  e.g. Do you have more photos? Can we schedule a viewing? " type="textarea" %}
            <!-- <textarea id="w3review" name="w3review" rows="10" cols="50" placeholder="Type your message:  e.g. Do you have more photos? Can we schedule a viewing? "></textarea> -->
            <input type="submit" class="btn btn-primary submit" value="Send Request" style="margin-bottom: 20px; width: auto; float: center;">
            <!-- <a href="property.html" class="btn btn-primary">Send Request</a> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container Features">
    <section>
      <div class="detail">
        <div>
          <h6>Property Details</h6>
        <ul>
          {% for property in properties %}
          <li>{{ property.Name }}: {{ property.Value}}</li>
          {% endfor %}
        </ul>
        </div>
        <div>
          
        <h6>Features</h6>
        <ul>
          {% for feature in features %}
          <li>{{ feature.Feature }}</li>
          {% endfor %}
        </ul>
        </div>
      </div>
      <div class="descri">
        <h6>Full Description</h6>
        <p>{{ mansion.Description }}</p>
      </div>
    </section>
  </div>




<!-- Remove the container if you want to extend the Footer to full width. -->

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="p-4 pb-0 footer">
    <!-- Section: Form -->
    <section class="">
      {% load widget_tweaks %}
      <form method="POST">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              {% render_field form.Email  id="form5Example2" class="form-control" placeholder="example@gmail.com"  type="email" %}
              <!-- <input type="email" id="form5Example2" class="form-control" placeholder="example@gmail.com" /> -->
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 Copyright">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->




  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  </script>
</body>
</html>